<div class="panel panel-default top-buffer">
  <div class="panel-heading">
    List of file Uploaded
  </div>
  <div class="panel-body">
    <% if settlements.present? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Settlement Id</th>
            <th>Report Date</th>
            <th>Upload Date</th>
          </tr>
          </thead>
          <tbody>
          <% settlements.each do |settlement| %>
              <tr>
                <td><%= settlement.settlement_id %> </td>
                <td><%= ad_to_bs_string(settlement.settlement_date) %> </td>
                <td><%= ad_to_bs_string(settlement.updated_at.to_date) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="text-center text-muted">
        No settlements uploaded yet.
      </div>
    <% end %>
  </div>
</div>
