%h1 Listing esewa_payments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @esewa_payments.each do |esewa_payment|
      %tr
        %td= link_to 'Show', esewa_payment
        %td= link_to 'Edit', edit_esewa_payment_path(esewa_payment)
        %td= link_to 'Destroy', esewa_payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Esewa payment', new_esewa_payment_path
