=provide(:section_title, "Client Order Requests")
=link_to "Refresh", order_request_details_path, class: 'btn btn-primary'
-#=react_component('OrderRequests', order_request_details: @order_request_details.map{|x| x.as_json})
#order_requests_data{data: @order_request_details.map{|x| x.as_json}.to_json}
= content_for :page_js do
  = javascript_pack_tag 'order_request/order_requests'
