// Place all the styles related to the Report/Balancesheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.z-no-padding-vertical {
  .btn-box-tool {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.balancesheet-report {
  .box {
    margin-bottom: 5px;
  }
}

.box-equivalent {
  padding: 0 10px;
}