<div class="text-center">
  <h2>Welcome !</h2>
  <br>
  <% unless @invalid_certificate %>
    <a href="<%= new_user_session_path %>" class="btn-wrapper">
      <button class="btn btn-lg btn-default btn-single">Sign in</button>
    </a>
    <br>
    <h4>to continue</h4>
  <% else %>
    <h4>The certificate is not valid!. Please Contact Technical Support</h4>
      1. <%= @ssl_cdn %>
      2. <%= @ssl_verify %>
  <% end %>
</div>