<div class="text-center">
  <h2>Welcome !</h2>
  <br>
  <% unless @invalid_certificate %>
    <a href="<%= new_user_session_path %>" class="btn-wrapper">
      <button class="btn btn-lg btn-default btn-single">Sign in</button>
    </a>
    <br>
    <h4>to continue</h4>
  <% else %>
    <h4>The certificate is not valid!. Please Contact Technical Support</h4>
  <% end %>
</div>

<form action="https://uat.connectips.com/connectipsgw/loginpage" method="post">
  <br>
  MERCHANT ID
  <input type="text" name="MERCHANTID" id="MERCHANTID" value="1"/>
  <br>
  APP ID
  <input type="text" name="APPID" id="APPID" value="MER-1-APP-1"/>
  <br>
  APP NAME
  <input type="text" name="APPNAME" id="APPNAME" value="QFX Movie Ticket"/>
  <br>
  TXN ID
  <input type="text" name="TXNID" id="TXNID" value="120"/>
  <br>
  TXN DATE
  <input type="text" name="TXNDATE" id="TXNDATE" value="13-07-2017"/>
  <br>
  Page 10 of 16connectIPS Process & Interface Document For Merchant
  Public
  TXN CRNCY
  <input type="text" name="TXNCRNCY" id="TXNCRNCY" value="NPR"/>
  <br>
  TXN AMT
  <input type="text" name="TXNAMT" id="TXNAMT" value="20000"/>
  <br>
  REFERENCE ID
  <input type="text" name="REFERENCEID" id="REFERENCEID" value="REF-001"/>
  <br>
  REMARKS
  <input type="text" name="REMARKS" id="REMARKS" value="RMKS-001"/>
  <br>
  PARTICULARS
  <input type="text" name="PARTICULARS" id="PARTICULARS" value="PART-001"/>
  <br>
  TOKEN
  <input type="text" name="TOKEN" id="TOKEN" value="
mpqZ3kyEBjhiGKlYMv6OXe4kT8ID5gDr6wRdfd0hAcwlOcKrJn8WHFd5t7V2OCtZrKrEu0BbQeleQbA8kj7
66PT6J/7eakXFZURn1gedczCovBZq7Hz79lU5KQA58WSCv3sTs3mfY8Qspaz/VbUgHJKNK6thFeNdcs8r
NWfXFlfJm9V84Wem2wNC5bjwzd8tZPVHa1BHiF+8eBgOEu8vhvs1tW6VUVbOr/U3ZOZNwaG3ZCL0G
UnwF8qrmSoKexj6DDZLZOKB6xMsbTnQCu6i4nn2uGwSmAS3F3kUt5+cjmd4TLURFrYw0UKAXgKlU3t
RanhAEN3dOpIisSRaBjwFHQ=="/>
  <br>
  <input type="submit" value="Submit">
</form>