<% provide(:section_title, "Edit Employee") %>

<%
  if params[:type] == 'client_access'
%>
<div id="edit_employee_client_association">
</div>
    <%= render 'form_employee_client_association', employee_account: @employee_account, ledgers: @ledgers %>
<%
  else
%>
    <%= render 'form' %>
<%
  end
%>

<%= link_to 'Back', employee_accounts_path %>
