<%= form_tag cheque_entries_path, :method => 'post', :enforce_utf8 => false do %>
    <div class="row">
      <div class="col-sm-4  form-group clearfix">
        <label>Employee Account </label>
        <%= select_tag "user_id", options_from_collection_for_select(@users, 'user_id', 'name'), class: 'form-control combobox', include_blank: false, prompt: 'Select an Employee ...' %>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
      </div>
    </div>
    <div><%= submit_tag 'Save Entries', class: 'btn btn-primary btn-flat' %></div>
<% end %>

<%= link_to 'Back', menu_permissions_path %>

