---
http_interactions:
- request:
    method: get
    uri: http://api.sparrowsms.com/v2/sms/?from=Demo&text=Saroj%20bought%20EBL,100@2900%3BOn%201/23%20Bill%20No7273-79%20.Pay%20Rs%20292678.5.BNo%2048.%20sarojk@dandpheit.com&to=9779851182852&token=Q2qMoJIpim0AgFn34WUz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "credit_consumed": 1, "response_code": 200, "message_id":
        23198476, "credit_available": 1896.0, "response": "1 mesages has been queued
        for delivery"}'
  recorded_at: Thu, 22 Jun 2017 09:44:14 GMT
recorded_with: VCR 3.0.3
