<% provide(:section_title, "FloorSheet Listing") %>

<% if !@file_list.blank? %>

    <%= render 'shared/pagination', collection_to_paginate: @file_list %>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        List of files uploaded
      </div>
      <div class="panel-body">
        <%= render 'files/floorsheets/list' %>
      </div>
    </div>

    <%= render 'shared/pagination', collection_to_paginate: @file_list %>

<% end %>
