$('#notice').prepend('<div class="alert alert-success"> ' +
  '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
  '   <div id="flash_success">' + 'Email Successfully sent!' + ' </div></div>').find('.alert-success').fadeOut(5000);
