<!DOCTYPE html>
<html>
  <head>
    <title>Smartkhata</title>
    <meta name="description" content="Smart way for monitoring and accounting">
    <link rel="stylesheet" media="all" href="/assets/application-a87d4b0308987b87d30326fca1c7687d3ac0238509e126281cd2ec9680262ecf.css" data-turbolinks-track="true" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!--  'Print' media specific CSS -->
    <link rel="stylesheet" type="text/css" media="print" href="/print.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="skin-blue layout-top-nav">
    <div class="wrapper">
      <header class="main-header">
          <!-- Header Navbar -->
  <nav class="navbar navbar-static-top yamm" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <b>SmartKhata</b>
        </a>
      </div>

      <!-- Navbar Right Menu -->
      <div class="">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">File Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Uploads</strong></p></li>
          <li><a href="/files/floorsheets/new">FloorSheet</a></li>
          <li><a href="/files/sales/new">Sales CM</a></li>
          <li><a href="/files/dpa5/new">DpA5</a></li>
          <li><a href="/files/orders/new">Order</a></li>
          <li><a href="/files/closeouts/new?type=debit">CloseOut Debit</a></li>
          <li><a href="/files/closeouts/new?type=credit">CloseOut Credit</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Pending</strong></p></li>
          <li><a href="/sales_settlements?pending=true">Pending Sales Settlement</a></li>
        </ul>

      </div>
    </div>
  </ul>
</li>
<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Vouchers</strong></p></li>
          <li><a href="/vouchers/new">Journal</a></li>
          <li><a href="/vouchers/new?voucher_type=2">Receive</a></li>
          <li><a href="/vouchers/new?voucher_type=1">Payment</a></li>
          <li><a href="/vouchers/pending_vouchers">Pending Payment</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Ledgers</strong></p></li>
          <li><a href="/ledgers">Ledger List</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bills</strong></p></li>
          <li><a href="/bills">Bill List</a></li>
          <li><a href="/share_transactions/deal_cancel">Cancel Transaction</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bank</strong></p></li>
          <li><a href="/banks">Banks</a></li>
          <li><a href="/bank_accounts">Bank Accounts</a></li>
          <li><a href="/cheque_entries">Cheque Entries</a></li>
        </ul>
      </div>
    </div>
  </ul>
</li>
<li><a href="/client_accounts">Client Register</a></li>
<li><a href="/employee_accounts">Employee Register</a></li>
<li><a href="/vendor_accounts">Vendor Register</a></li>



<!-- <li><a href="/groups">Groups</a></li> -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/report/balancesheet">Balance Sheet</a></li>
    <li><a href="/report/profitandloss">Profit &amp; Loss</a></li>
    <li><a href="/report/trial_balance">Trial Balance</a></li>
    <li><a href="/share_transactions">Share Inventory</a></li>
    <li><a href="/orders?show=report">Orders</a></li>
    <li><a href="/share_transactions?search_by=cancelled">Cancelled Transactions</a></li>
  </ul>
</li>
  <!-- <li><a href="/users/edit">Edit account</a></li> -->
  <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a></li>


        </ul>
      </div>
    </div>
  </nav>

      </header>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container">
          <section class="content-main">

            <div class="box box-default content-area">
              <div class="box-header with-border content-area">
                <h2 class="box-title section-title">Settlement Details</h2>
              </div>
              <div class="box-body content-area">

<div id="btnPrint">
  <span class="glyphicon glyphicon-print print-icon"></span>
  <span>Print</span>
</div>
<div class="clearfix billfull printThis">

  <!-- Static Company Header BEGINS -->
  <div class="clearfix">
      <strong>
      Trishakti Securities Public Ltd.<br>
      Putalisadak, Kathmandu<br>
      </strong>

      <div class="row">
        <div class="col-xs-3">
          <strong>
          Phone: 977-1-4232132
          <br>
          Fax: 977-1-4232133
          <br>
          PAN: 302930905
          <br>
          </strong>
        </div>

      <div class="col-xs-6 text-center">
        <h4><u>PAYMENT</u></h4>
      </div>
    </div>
    <div class="clearfix horizontal-line">
    </div>
  </div>
  <!-- Static Company Header ENDS-->
  <br><br>
  <!-- Receipt No. and Receipt Date BEGINS -->
  <div class="row">
    <div class="col-xs-4">
      <p>Payment No: 980191076</p>

    </div>
    <div class="col-xs-3 col-xs-offset-5 text-right">
      <p>Date: 2073-02-17</p>
    </div>
  </div>
  <!-- Receipt No. and Receipt Date ENDS -->

  <!-- Receipt details START -->
    <p>Paid To: <strong><u>Prem Bdr  Kc</u></strong></p>

  <p>the sum of   <strong>Rs.   69,581.70</strong></p>
  <p>(in words)<strong><u> Sixty Nine Thousand, Five Hundred  Eighty One Rupees And 69/100 Only</u></strong></p>
  <!-- Receipt details END -->
  <p>By Cheque:
            <br>
            Cheque Number:8374 &nbsp;&nbsp;Bank:MyString &nbsp;&nbsp;Amount:69581.7,
  </p>

  <br><br>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-4">
      <br>
      <hr class="clearfix horizontal-line">
      <p class="text-center">Paid By</p>
    </div>
    <div class="col-xs-3 col-xs-offset-2">
      <br>
      <hr class="clearfix horizontal-line">
      <p class="text-center">Received By</p>
    </div>

  </div>
  <hr class="clearfix horizontal-line">
  <br>
  <div class="clearfix">
    <!-- Footnote BEGINS -->
    <em>
      <p>Settled for Bill No: 7273-5620</p>
    </em>
    <!-- Footnote ENDS -->
  </div>
</div>


              </div>

            </div>
          </section>
        </div>
      </div><!-- /.content-wrapper -->
      <!-- common bootstrap modal -->
      <div class="modal fade"
           id="smartkhata-modal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel"
           aria-hidden="true"
           data-backdrop="static"
           data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <div class="container">
          <!-- To the right -->
          <!-- <div class="pull-right hidden-xs">
            Anything you want
          </div> -->
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016|   <a href="http://danpheinfotech.com" target="_blank">Danphe InfoTech</a>.</strong> All rights reserved.
        </div>
      </footer>

    </div><!-- ./wrapper -->

     <!-- REQUIRED JS SCRIPTS -->
    <script src="/assets/application-19171594db4b57f9bb34fae83dfb9267872778620bf8bf65e0d171fb563de4bf.js" data-turbolinks-eval="false"></script>


    <!-- HOTKEYS BEGINS -->
    <!--
      Used in the application
      -jquery-hotkey (jquery plugin)
        -See https://github.com/jeresig/jquery.hotkeys for usage
      -jquery-hotkeys-rails (gem that binds the plugin mentioned above) -->
  <script>
//<![CDATA[


//]]>
</script>    <!-- HOTKEYS ENDS-->

  </body>
</html>

