<!DOCTYPE html>
<html>
  <head>
    <title>Smartkhata</title>
    <meta name="description" content="Smart way for monitoring and accounting">
    <link rel="stylesheet" media="all" href="/assets/application-d9c76c5c3fd0506e7fa65218c0b87a35e87d9a366011955be03b6f0c2b25276f.css" data-turbolinks-track="true" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!--  'Print' media specific CSS -->
    <link rel="stylesheet" type="text/css" media="print" href="/print.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="skin-blue layout-top-nav fixed-top">
    <div class="wrapper">
      <header class="main-header">
          <!-- Header Navbar -->
  <nav class="navbar navbar-static-top yamm" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <b>SmartKhata</b>
        </a>
      </div>

      <!-- Navbar Right Menu -->
      <div class="">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">File Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Uploads</strong></p></li>
          <li><a href="/files/floorsheets/new">FloorSheet</a></li>
          <li><a href="/files/sales/new">Sales CM</a></li>
          <li><a href="/files/dpa5/new">DpA5</a></li>
          <li><a href="/files/orders/new">Order</a></li>
          <li><a href="/files/closeouts/new?type=debit">CloseOut Debit</a></li>
          <li><a href="/files/closeouts/new?type=credit">CloseOut Credit</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Pending</strong></p></li>
          <li><a href="/sales_settlements?pending=true">Pending Sales Settlement</a></li>
        </ul>

      </div>
    </div>
  </ul>
</li>
<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Vouchers</strong></p></li>
          <li><a href="/vouchers/new">Journal</a></li>
          <li><a href="/vouchers/new?voucher_type=2">Receipt</a></li>
          <li><a href="/vouchers/new?voucher_type=1">Payment</a></li>
          <li><a href="/vouchers/pending_vouchers">Pending Payment</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Ledgers</strong></p></li>
          <li><a href="/ledgers">Ledger List</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bills</strong></p></li>
          <li><a href="/bills">Bill List</a></li>
          <li><a href="/share_transactions/deal_cancel">Cancel Transaction</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bank</strong></p></li>
          <li><a href="/banks">Banks</a></li>
          <li><a href="/bank_accounts">Bank Accounts</a></li>
          <li><a href="/cheque_entries">Cheque Entries</a></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Nepse</strong></p></li>
          <li><a href="/nepse_chalans">Nepse Chalan</a></li>
        </ul>
      </div>
    </div>
  </ul>
</li>
<li><a href="/client_accounts">Client Register</a></li>
<li><a href="/employee_accounts">Employee Register</a></li>
<li><a href="/vendor_accounts">Vendor Register</a></li>

<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Financial Reports</strong></p></li>
          <li><a href="/report/balancesheet">Balance Sheet</a></li>
          <li><a href="/report/profitandloss">Profit &amp; Loss</a></li>
          <li><a href="/report/trial_balance">Trial Balance</a></li>
        </ul>

        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Transactions / Orders</strong></p></li>
          <li><a href="/share_transactions">Share Inventory</a></li>
          <li><a href="/orders?show=report">Orders</a></li>
          <li><a href="/share_transactions?search_by=cancelled">Cancelled Transactions</a></li>
        </ul>

        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Settlements</strong></p></li>
          <li><a href="/settlements?by_settlement_type=receipt">Receipt</a></li>
          <li><a href="/settlements?by_settlement_type=payment">Payments</a></li>
        </ul>

      </div>
    </div>


  </ul>
</li>
  <!-- <li><a href="/users/edit">Edit account</a></li> -->
  <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a></li>


        </ul>
      </div>
    </div>
  </nav>

      </header>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container">
          <section class="content-main">

            <div class="box box-default content-area">
              <div class="box-header with-border content-area">
                <h2 class="box-title section-title">Bills</h2>
              </div>
              <div class="box-body content-area">

<div class="clearfix submenu" >
  <h5>
    <a class="" href="/bills?search_by=client_name">Search by Client Name</a>  |
    <a class="" href="/bills?search_by=bill_status&amp;search_term=unsettled_bills">Pending Bills</a>  |
    <a class="" href="/bills?search_by=all_bills">All Bills</a>  |
    <a class="active-link" href="/bills?search_by=bill_type">Search by Bill Type</a>  |
    <a class="" href="/bills?search_by=bill_number">Search by Bill Number</a>  |
    <a class="" href="/bills?search_by=date">Search by Date</a>  |
    <a class="" href="/bills?search_by=date_range">Search by Date Range</a>
  </h5>
</div>



<div class="clearfix search-form">

      <form id="search-form" action="/bills" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="search_by" id="search_by" value="bill_type" />
          <div class="col-xs-3">
            <select name="search_term" id="search_term"><option value="sales">Sales</option>
<option selected="selected" value="purchase">Purchase</option></select>
          </div>
          <input type="submit" name="commit" value="Search" />
</form>


</div>





<!--This is a generic pagination snippet. -->
<!--Pass variable to be paginated assigning it to 'collection_to_paginate' while rendering partial .-->
<!--Example: render 'shared/pagination', collection_to_paginate: @bills -->

<div class="text-center">
      <ul class="pagination ">


      <li class="page active">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">1</a>
</li>

      <li class="page">
  <a rel="next" href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=2&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">2</a>
</li>

      <li class="page">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=3&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">3</a>
</li>

  <li class="next_page">
  <a rel="next" href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=2&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">Next &rsaquo;</a>
</li>

  <li class="last next">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=3&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">Last &raquo;</a>
</li>

</ul>

      <div class="text-center">
        Displaying bills <b>1&nbsp;-&nbsp;20</b> of <b>52</b> in total
      </div>
</div>


  <table class="table table-no-border table-striped table-condensed text-left">
  <tr>
    <th>S.N.</th>
    <th>Bill No.</th>
    <th>Bill Date</th>
    <th>Customer</th>
    <th>Type</th>
    <th>Status</th>
    <th class="text-center">Companies <br>Transacted</th>
    <th class="text-center">Net <br>Bill Amount</th>
    <th> Action </th>
  </tr>

  <!-- Bill (row) BEGINS -->
  <tr>
    <td>1</td>
    <td>7273-1</td>
    <td>2073-1-28 BS</td>
    <td>Vibor Bikash Bank Ltd   </td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>FMDBL(7) BPCL(1) </td>
    <td class="text-right">22,50,833.95</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/2">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>2</td>
    <td>143-1</td>
    <td>2073-01-01 BS</td>
    <td>Hoodibaba</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td></td>
    <td class="text-right">9,00,000.00</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/1">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>3</td>
    <td>7273-2</td>
    <td>2073-1-28 BS</td>
    <td>Lal Dhoj  Lama</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>NIL(1) </td>
    <td class="text-right">1,83,639.84</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/3">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>4</td>
    <td>7273-3</td>
    <td>2073-1-28 BS</td>
    <td>Tej Bdr  Shrestha</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>PICL(1) KNBL(3) </td>
    <td class="text-right">6,66,484.59</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/4">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>5</td>
    <td>7273-4</td>
    <td>2073-1-28 BS</td>
    <td>Suman Kumar  Shrestha</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>JEFL(1) CSDBL(3) </td>
    <td class="text-right">2,34,978.61</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/5">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>6</td>
    <td>7273-5</td>
    <td>2073-1-28 BS</td>
    <td>Jamuna Poudel  Dulal</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>SAJHA(5) </td>
    <td class="text-right">79,594.52</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/6">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>7</td>
    <td>7273-6</td>
    <td>2073-1-28 BS</td>
    <td>Shanti Bhakta  Shiwakoti</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>AHPC(1) JEFL(2) </td>
    <td class="text-right">4,06,160.95</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/7">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>8</td>
    <td>7273-7</td>
    <td>2073-1-28 BS</td>
    <td>Purushottam  Shrestha</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>REDBL(1) SAJHA(13) </td>
    <td class="text-right">6,63,252.24</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/8">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>9</td>
    <td>7273-8</td>
    <td>2073-1-28 BS</td>
    <td>Binod Psd  Dulal</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>SRBL(2) </td>
    <td class="text-right">12,32,997.05</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/9">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>10</td>
    <td>7273-9</td>
    <td>2073-1-28 BS</td>
    <td>Kabita  Agrawal</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>SINDU(1) </td>
    <td class="text-right">2,12,451.08</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/10">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>11</td>
    <td>7273-10</td>
    <td>2073-1-28 BS</td>
    <td>Krishna  Prajapati</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>PIC(1) </td>
    <td class="text-right">1,79,250.04</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/11">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>12</td>
    <td>7273-11</td>
    <td>2073-1-28 BS</td>
    <td>Shreejana  Kuwar</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>NICA(1) </td>
    <td class="text-right">1,89,341.54</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/12">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>13</td>
    <td>7273-12</td>
    <td>2073-1-28 BS</td>
    <td>Tara Kumari  Pokharel Raut</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>NBB(2) GBIME(1) NMB(1) </td>
    <td class="text-right">1,87,692.97</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/13">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>14</td>
    <td>7273-13</td>
    <td>2073-1-28 BS</td>
    <td>Anju  Puri</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>NABIL(2) </td>
    <td class="text-right">4,56,564.46</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/14">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>15</td>
    <td>7273-14</td>
    <td>2073-1-28 BS</td>
    <td>Ganesh Prasad  Aryal</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>BPCL(1) </td>
    <td class="text-right">1,07,575.16</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/15">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>16</td>
    <td>7273-15</td>
    <td>2073-1-28 BS</td>
    <td>Dipendra Nath  Adhikari</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>SHPC(1) </td>
    <td class="text-right">9,02,319.25</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/16">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>17</td>
    <td>7273-16</td>
    <td>2073-1-28 BS</td>
    <td>Bhaskar  Ghimire</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>DBBL(1) </td>
    <td class="text-right">29,956.75</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/17">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>18</td>
    <td>7273-17</td>
    <td>2073-1-28 BS</td>
    <td>Shraban  Bhattarai</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>LICN(1) </td>
    <td class="text-right">14,66,475.69</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/18">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>19</td>
    <td>7273-18</td>
    <td>2073-1-28 BS</td>
    <td>Prem Bdr  Kc</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>NICA(1) </td>
    <td class="text-right">16,029.82</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/19">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


  <!-- Bill (row) BEGINS -->
  <tr>
    <td>20</td>
    <td>7273-19</td>
    <td>2073-1-28 BS</td>
    <td>Manju  Giri Puri</td>
    <td>Purchase</td>
    <td>Pending</td>
    <td>UIC(1) </td>
    <td class="text-right">51,005.24</td>
    <td>
      <!--  TODO: Optimize -->
      <a href="/bills/20">View</a>
    </td>
  </tr>
  <!-- Bill (row) ENDS -->


</table>

<!--This is a generic pagination snippet. -->
<!--Pass variable to be paginated assigning it to 'collection_to_paginate' while rendering partial .-->
<!--Example: render 'shared/pagination', collection_to_paginate: @bills -->

<div class="text-center">
      <ul class="pagination ">


      <li class="page active">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">1</a>
</li>

      <li class="page">
  <a rel="next" href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=2&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">2</a>
</li>

      <li class="page">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=3&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">3</a>
</li>

  <li class="next_page">
  <a rel="next" href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=2&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">Next &rsaquo;</a>
</li>

  <li class="last next">
  <a href="/bills?by_fy_code=7273&amp;commit=Search&amp;page=3&amp;search_by=bill_type&amp;search_term=purchase&amp;utf8=%25E2%259C%2593">Last &raquo;</a>
</li>

</ul>

      <div class="text-center">
        Displaying bills <b>1&nbsp;-&nbsp;20</b> of <b>52</b> in total
      </div>
</div>


              </div>

            </div>
          </section>
        </div>
      </div><!-- /.content-wrapper -->
      <!-- common bootstrap modal -->
      <div class="modal fade"
           id="smartkhata-modal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel"
           aria-hidden="true"
           data-backdrop="static"
           data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <div class="container">
          <!-- To the right -->
          <!-- <div class="pull-right hidden-xs">
            Anything you want
          </div> -->
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016|   <a href="http://danpheinfotech.com" target="_blank">Danphe InfoTech</a>.</strong> All rights reserved.
        </div>
      </footer>

    </div><!-- ./wrapper -->

     <!-- REQUIRED JS SCRIPTS -->
    <script src="/assets/application-b0647baf430460950cd7a607c2fb68179a87466d261e6bf61fb4875e21bc9d72.js" data-turbolinks-eval="false"></script>


    <!-- HOTKEYS BEGINS -->
    <!--
      Used in the application
      -jquery-hotkey (jquery plugin)
        -See https://github.com/jeresig/jquery.hotkeys for usage
      -jquery-hotkeys-rails (gem that binds the plugin mentioned above) -->
  <script>
//<![CDATA[


//]]>
</script>    <!-- HOTKEYS ENDS-->

  </body>
</html>
"], @closed=false>, @header={"X-Frame-Options"=>"SAMEORIGIN", "X-XSS-Protection"=>"1; mode=block", "X-Content-Type-Options"=>"nosniff", "Content-Type"=>"text/html; charset=utf-8", "ETag"=>"W/"ba92fc35269fb7f580274ecf275687e2"", "Cache-Control"=>"max-age=0, private, must-revalidate", "Set-Cookie"=>"_smartkhata_session=d3JkY2VqR3VBREVPZmNhNi9rZGE1WUcyQ2ZPQ2hraXd2YTVOTmlsaHNERGJpMXpBSHcrWVJWSVUzZS9sTzB2c0NVUlRzeVBIMTNqY0R6UFRTMEFTb2V5YkxSY0VwOXF2ZDJTcU5GTUZGMXFOT2hYUDFLZlFoMVcxc2hITHdnQlBzTVd2c3NIeFE3NHZ0UERzL0JIRUZKWWtzQ081U2dsVksvQy9saXgvZ0MwPS0teXBHaXRsbmxzQ2RyNGVGTmZrZkhCdz09--46412e995080a5fd5c54cd7b30497550185adef7; path=/; HttpOnly", "X-Request-Id"=>"c9a70155-d68e-41a4-93ef-18bf2ede6bde", "X-Runtime"=>"0.138061", "Content-Length"=>"19492"}, @status=200, @sending_file=false, @blank=false, @cv=#<MonitorMixin::ConditionVariable:0x007f617e50f140 @monitor=#<ActionDispatch::TestResponse:0x007f617e50f230 ...>, @cond=#<Thread::ConditionVariable:0x007f617e50f118>>, @committed=false, @sending=true, @sent=true, @content_type=#<Mime::Type:0x007f6178aa2770 @synonyms=["application/xhtml+xml"], @symbol=:html, @string="text/html">, @charset="utf-8", @cache_control={:max_age=>"0", :extras=>["private"], :must_revalidate=>true}, @etag="W/"ba92fc35269fb7f580274ecf275687e2"