<div>
	<h2>Upload Order file</h2>
	<%= form_tag import_files_floorsheet_index_path, multipart: true do %>
		<div class="form-group">
			<%= file_field_tag :file %>
		</div>
		<div class="form-group">
			<%= submit_tag "Import" ,   { :class => 'btn btn-primary' } %>
		</div>
	  
	<% end %>
</div>