<% provide(:section_title, "Settlements") %>
<% unless @error %>
    <h3>Bills generated Successfully</h3>
<% else %>
    <h3><%= "There was error processing the Settlement" unless @sales_settlement.present? %></h3>
<% end %>

<% if @sales_settlement.present? %>
    <%= link_to 'Bank Payment Letter', new_bank_payment_letter_path(settlement_id: @sales_settlement.settlement_id),{ :class=>"btn btn-primary btn-flat" }  %>
    <%= link_to 'Cheque Payment', sales_payment_bills_path(settlement_id: @sales_settlement.settlement_id), { :class=>"btn btn-primary btn-flat" }  %>
<% end %>