<% provide(:section_title, "Listing Sales Settlements") %>

<% if @sales_settlements.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Settlement Id:</th>
      <th> Action</th>
    </tr>
    </thead>

    <tbody>
    <% @sales_settlements.each do |sales_settlement| %>
        <tr>
          <td><%= sales_settlement.settlement_id %></td>
          <td><%= link_to 'Show', sales_settlement %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-muted">
    <br>No settlements found.
  </div>
<% end %>