/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Mixins */
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}




body {
  background-color: #222d32;
}

.container {
  min-width: 1170px;
  //max-width: none !important;
  max-width: 1366px;
  width: 100%;
}

.navbar-header {
  float: left;
}

.content-wrapper, .right-side, .main-footer {
  margin-left: -15px;
  // margin-right: -15px;
}

.box-body.content-area {
  min-height: 500px;
  // padding: 25px;
  p#notice:empty{ display: none } //eliminate unnecessary space
  form .panel{ margin-bottom: 4px } //make spacing uniform (default 20)
}

@media screen and (-webkit-min-device-pixel-ratio: 0) { /*safari and chrome*/
  select {
    height: 35px;
    line-height: 35px;
    background: #f4f4f4;
    // background: rgba(244, 244, 244, 0.47);
    width: 100%;
  }
}

select::-moz-focus-inner { /*Remove button padding in FF*/
  border: 0;
  padding: 0;
}

@-moz-document url-prefix() { /* targets Firefox only */
  select {
    padding: 15px 0 !important;
  }
}

@media screen \0
{ /* IE Hacks: targets IE 8, 9 and 10 */
  select {
    height: 35px;
    line-height: 35px;
    width: 100%;
  }
}

// combobox
@media (min-width: 768px) {
  .form-search .combobox-container,
  .form-inline .combobox-container {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  .form-search .combobox-container .input-group-addon,
  .form-inline .combobox-container .input-group-addon {
    width: auto;
  }
}

.combobox-selected .caret {
  display: none;
}

/* :not doesn't work in IE8 */
.combobox-container:not(.combobox-selected) .glyphicon-remove {
  display: none;
}

.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}

.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}

.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}

.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}

.z-light-bg {
  background: #ECF0F5;

  .box-header {
    // !important override for print
    background: #D2D6DE !important;
  }
}

.padding-zero {
  padding: 0;
}

.z-no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 1170px;
}

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  #pdf_link {
    display: none;
  }
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}

.yamm .container {
  position: relative;
}

.yamm .dropdown-menu {
  left: auto;
}

.yamm .yamm-content {
  padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  // box-shadow: 0px 0px 20px 0px rgb(60, 141, 188)!important;
  // box-shadow: 0px 5px 20px 0px rgb(173, 173, 173)!important;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175)!important)
}

// hack admin lte
.navbar-right .dropdown-menu {
  right: auto;
  left: auto;
}

.sub-menu {
  // background-color:lighten(#3C8DBC, 15%);;
}

.z-small-view {
  font-size: 12px;
}

// Changes made by Danphe Devs

$link_color: #2f8a93;
$bill_background_color: rgba(236, 240, 245, 0.42);

// Enforce same link color(s) in the overall app
a {
  color: $link_color;
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: #fff;
    background-color: $link_color;
  }
}

.trial .table > tbody + tbody {
  border-top: none;
}

.trial .total-trial {
  background: lightgrey;
}

.grey-hr {
  border-color: grey;
}

.print-icon {
  font-size: 20px;
  margin-bottom: 20px;
}

#btnPrint, #btnPrintCheque {
  display: inline-block;
  cursor: pointer;
}

.hidden-iframe {
  display: none;
  visibility: hidden;
}

.btnPrintPDF {
  display: inline-block;
  cursor: pointer;
}

.btn-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.spinner-circular {
  display: inline
}

//select 2 fix by subas
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
}

// admin lte hack by subas
.fixed-top {
  .main-header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
  }
  .content-wrapper {
    padding-top: 50px;
  }
}

select.combobox {
  height: 34px;
}

.filter-form {
  background-color: rgba(232, 236, 242, 0.3);
}

.bg-saroj {
  h3 {
    font-size: 30px;
  }
  background: #EEE;
  .small-box-footer {
    color: #337ab7;
  }
}

//.bg-saroj.small-box>.small-box-footer:hover {
//  color: #337ab7;
//}
.bg-saroj.small-box:hover {
  color: #337ab7;
  .small-box-footer {
    color: #337ab7;
  }
}

// Add a bit of margin-top in elements.
// Usually  between two .row elements, which apparently have no margin.
.top-buffer-sm {
  margin-top:10px;
}
.top-buffer-sm-x {
  margin-top:15px;
}
.top-buffer-md {
  margin-top:30px;
}
.top-buffer-lg {
  margin-top:50px;
}

.bottom-buffer-sm {
  margin-bottom:10px;
}
.bottom-buffer-md {
  margin-bottom:30px;
}
.bottom-buffer-lg {
  margin-bottom:50px;
}

#filterrific_results {
  min-height: 300px;
}

.highlighted-box{
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}

.search-form.clearfix {
  @extend .highlighted-box;
  margin-bottom: 10px;
}

.table-fixed-width {
  table-layout: fixed;
}

.wrap-text {
  word-wrap: break-word !important;
}

.light-text{
  font-size: 85%;
  color: #808084 !important;
}


button.close{
  line-height: 0.7;
}

.nav .list-unstyled{
  box-shadow: -5px 0px 20px -15px;
  border-left: 1px solid lightgrey;
  padding-left: 10px;
}

.box-body>.table{
  margin-bottom: 0!important;
  // Messing with site-wide tables
  // border-left: 1px solid #dddddd;
  // border-right: 1px solid #dddddd;
  & > tbody > tr:first-child > td {
    border-top: 0;
  }
}

a.btn-wrapper:hover{
  background: transparent;
}

// Override AdminLTE!
.nav-tabs-custom{
  box-shadow: none !important;
  &>.nav-tabs{
    border-bottom-color: #ddd;
    &>li{
      &:first-of-type.active>a, &.active>a{
        border-left-color: #ddd;
        border-right-color: #ddd;
      }
    }
  }
  .tab-content{
    padding: 10px 16px;
  }
}

// consistent with other inputs
select{
  height: 34px;
  // padding: 6px 24px 6px 12px;
  border-color: #d2d6de;
  // &[disabled]{
  //   cursor: not-allowed;
  // }
}
[class^='select2'] {
  border-radius: 0px !important;
}

.back-to-top{
  // transition: 1s ease-in-out;
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 68px;
  background-color: white;
  right: 20px;
  border: 1px solid lightgrey;
  cursor: pointer;
  &:hover i{
    color: #367faa;
  }
  &>i{
    transition: color 0.2s ease-in-out;
    font-size: 34px;
    left: 10px;
    top: 3px;
    position: relative;
    color: #999;
  }
}

.compact[class^="col-"]{
  padding-right: 0;
}

// For links as buttons
.btn-success, .btn-danger{
  color: white !important;
}

.lighter{
  opacity: 0.8;
}

.break-word {
  word-break: break-word;
}

// suppress style of .alert and .alert-info
.alert-custom-gray {
  color: #635D5D !important;
  background-color: #dee7ef !important;
  border-color: white !important;
}


.indicator-bg-light-red {
  background: #ffbaba;
}

.indicator-bg-green {
  background: greenyellow;
}

.indicator-bg-yellow {
  background: lightgoldenrodyellow;
}
.action {
  cursor: pointer;
}

