// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$link_color: #2f8a93;
$bill_background_color: rgba(236, 240, 245, 0.42);

.submenu {
  @extend .custom-anchor;
  padding-bottom: 10px;
  a.active-link {
    //color: #fff !important;
    //background-color: $link_color !important;
     border-bottom: thin dotted #529EA5;
  }
}

.bill-full {
  background: $bill_background_color;
  padding: 10px;

  .settlement-holder {
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    opacity: .15;
  }
}

.bill-card {
  @extend .custom-anchor;
  background: $bill_background_color;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #D2D6DE;
  border-radius: 5px;
}

.key{
  color: #999;
  font-style: italic;
}

.search-form {
  padding-bottom: 5px;
  select {
    height: 24px;
  }
}

.customer_details {
  padding-top: 1em;
}

.calculation-section, .customer_details {
  table{
    td{
      padding: 2px 0px !important;
    }
  }
}

.signature-section{
  padding-top: 70px
}

.horizontal-line {
  margin: 5px 0;
  border-bottom: solid 1px;
  border-bottom-color: black;
}

.bill-message{
  padding-bottom:5px
}

.transactions-section{
  .deal_cancelled_transaction{
    text-decoration: line-through;
  }
  table{
    // The width of this table is ought to be 1170
    // TODO: test the width against small screens, and the fixed dimensions of the page.
    width: 100%;
    font-size: 14px;
    font-family: arial;
    table-layout: fixed;
    td{
      padding: 2px 4px !important;
      border: 1px solid black !important;
      word-wrap: break-word;
    }
    th{
      background-color: rgba(210, 209, 208, 0.31);
      border: 1px solid black !important;
      word-wrap: break-word;
    }
    // These widths have been calibrated for arial font of 14px.
    // The sum of all these widths must be the width of the table.
    colgroup {
      // TODO: Find if 'no of shares', 'share rate' and 'base price' can be in decimals
      // Transaction No
      .col-1 {
        width: 15%;
      }
      // No of Shares
      .col-2 {
        width: 7.22%;
      }
      // Company Name
      .col-3 {
        width: 18.33%;
      }
      // Share Rate
      .col-4 {
        width: 7.78%;
      }
      // Base Price
      .col-5 {
        width: 7.78%;
      }
      // Amount
      .col-6 {
        width: 11.11%;
      }
      // Commission
      .col-7 {
        width: 10.56%;
      }
      // Commission Amount
      .col-8 {
        width: 11.11%;
      }
      // Capital Gain
      .col-9 {
        width: 11.11%;
      }
    }
  }
}
.table-no-border>thead>tr>th, .table-no-border>tbody>tr>th, .table-no-border>tfoot>tr>th, .table-no-border>thead>tr>td, .table-no-border>tbody>tr>td, .table-no-border>tfoot>tr>td {
  border-top: 0px;
}

@media print {
  .custom-anchor {
    display: none;
  }
  html * {
    font-size: 10px !important;
    font-family: arial;
  }
  .transactions-section{
    table{
      // The width of this table is ought to be approx 1170px in print media
      width: 100%;
      font-size: 10px;
      font-family: arial;
      table-layout: fixed;
      td{
        word-wrap: break-word;
      }
      th{
        word-wrap: break-word;
      }
      // These widths have been calibrated for arial font of 10px. These widths of print media are mathemtically proportional to their respecitve widths of screen media.
      // The sum of all these widths must be the width of the table in print media.
      colgroup {
        // TODO: Find if 'no of shares', 'share rate' and 'base price' can be in decimals
        // Transaction No
        .col-1 {
          width: 15%;
        }
        // No of Shares
        .col-2 {
          width: 7.22%;
        }
        // Company Name
        .col-3 {
          width: 18.33%;
        }
        // Share Rate
        .col-4 {
          width: 7.78%;
        }
        // Base Price
        .col-5 {
          width: 7.78%;
        }
        // Amount
        .col-6 {
          width: 11.11%;
        }
        // Commission
        .col-7 {
          width: 10.56%;
        }
        // Commission Amount
        .col-8 {
          width: 11.11%;
        }
        // Capital Gain
        .col-9 {
          width: 11.11%;
        }
      }
    }
  }
}
