// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$link_color: #2f8a93;
$bill_background_color: rgba(236, 240, 245, 0.42);
.custom-anchor {
  a {
    color: $link_color;
    &:visited {
      color: $link_color;
    }
    &:hover {
      color: #fff;
      background-color: $link_color;
    }
  }
}

.submenu {
  @extend .custom-anchor;
  padding-bottom: 10px;
}

.bill-full {
  background: $bill_background_color;
  padding: 10px;
}

.bill-card {
  @extend .custom-anchor;
  background: $bill_background_color;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #D2D6DE;
  border-radius: 5px;
}

.key{
  color: #999;
  font-style: italic;
}

.search-form {
  padding-bottom: 5px;
}

.customer_details {
  padding-top: 1em;
}

.calculation-section, .customer_details {
  table{
    td{
      padding: 2px 0px !important;
    }
  }
}

.signature-section{
  padding-top: 70px
}

.horizontal-line {
  margin: 5px 0;
  border-bottom: solid 1px;
  border-bottom-color: black;
}

.bill-message{
  padding-bottom:5px
}

.transactions-section{
  table{
    td{
      padding: 2px 4px !important;
      border: 1px solid black !important;
    }
    th{
      background-color: rgba(210, 209, 208, 0.31);
      border: 1px solid black !important;
    }
  }
}
.table-no-border>thead>tr>th, .table-no-border>tbody>tr>th, .table-no-border>tfoot>tr>th, .table-no-border>thead>tr>td, .table-no-border>tbody>tr>td, .table-no-border>tfoot>tr>td {
  border-top: 0px;
}

@media print{
  

}