// Place all the styles related to the Ledgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ledger {
  table{
    // The width of this table is ought to be 900px.
    // TODO: test the 900px width against small screens, and the fixed dimensions of the page.
    width: 100%;
    font-size: 12px;
    font-family: arial;
    table-layout: fixed;
    td{
      font-size: 12px;
      padding: 2px 4px !important;
      border: 1px solid black !important;
      word-wrap: break-word;
    }
    th{
      background-color: rgba(210, 209, 208, 0.31);
      border: 1px solid black !important;
      word-wrap: break-word;
    }
    // These widths have been calibrated for arial font of 14px.
    // The sum of all these widths must be the width of the table.
    colgroup {
      // TODO: Find if 'no of shares', 'share rate' and 'base price' can be in decimals
      // Transaction No
      .col-1 {
        width: 11%;
      }
      // No of Shares
      .col-2 {
        width: 22.5%;
      }
      // Company Name
      .col-3 {
        width: 9%;
      }
      // Share Rate
      .col-4 {
        width: 7.5%;
      }
      // Base Price
      .col-5 {
        width: 12.5%;
      }
      // Amount
      .col-6 {
        width: 12.5%;
      }
      // Commission
      .col-7 {
        width: 12.5%;
      }
      // Commission Amount
      .col-8 {
        width: 12.5%;
      }
      // Capital Gain
      .col-9 {
        width: 100px;
      }
    }
  }
}
