// Place all the styles related to the TransactionMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.sms-message {
  word-break: break-all;
}

input[type="checkbox"].email.cant-email {
  display: none
}

input[type="checkbox"].sms.cant-sms{
  display: none
}

.warning-text {
  color: #f0ad4e !important
}

a.no-hover:hover{
  background-color: transparent;
}

.email-queued-warning {
  color: #635D5D !important;
  background-color: #dee7ef !important;
  border-color: white !important;
  display: none;
}
