// Place all the styles related to the TransactionMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.sms-message {
  word-break: break-word;
}

input[type="checkbox"].email.cant-email {
  display: none
}

input[type="checkbox"].sms.cant-sms{
  display: none
}

.warning-text {
  color: #f0ad4e !important
}

a.no-hover:hover{
  background-color: transparent;
}

.email-queued-warning {
  color: #635D5D !important;
  background-color: #dee7ef !important;
  border-color: white !important;
  display: none;
}

.refresh-icon {
  cursor: pointer;
}

.sms-indicator {
  border-left-style: solid;
  border-left-width: 0.5em;
}
.sms-sent {
  border-left-color: #0ce291;
}
.sms-unsent {
  border-left-color: yellow;
}
.sms-cant-send {
  border-left-color: red;
}
.box-sm {
  width: 1em;
  height: 1.2em;
  border-style: solid;
  border-width: 1px;
  border-color: #acacac;
}
.sms-sent-index{
  background-color: #0ce291;
}
.sms-unsent-index{
  background-color: yellow;
}
.sms-cant-send-index{
  background-color: red;
}
