// Place all the styles related to the Vouchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cheque-container {
  //display: none;
}

//.particular {
//  .remove-particular {
//    visibility: hidden;
//  }
//}

.group-ledger {
  label {
    margin-right: 10px;
  }
}

.block-display {
  .select2 {
    width: 100%!important;
  }
}

.particular-separator{
  border-top-color: #3c8dbc;
  margin: 15px 0
}

.form-inputs.voucher{
  .total-display {
    min-height: 20px;
    margin-top: 10px;
  }
}

.input-group .date-input-wrapper .form-control {
  float: unset;
}

.date-input-wrapper .clear-date {
  z-index: 3;
}
