<% provide(:section_title, "Cheque Entries") %>
<%= link_to 'New Cheque entry', new_cheque_entry_path %>
<table class="table">
  <thead>
    <tr>
      <th>Cheque Number</th>
      <th>Bank </th>
    </tr>
  </thead>

  <tbody>
    <% @cheque_entries.each do |cheque_entry| %>
      <tr>
        <td><%= cheque_entry.cheque_number %></td>
        <td><%= cheque_entry.bank_account.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
