<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Orders</strong></p></li>
          <li><%= link_to 'Order Requests', order_request_details_path %></li>
          <li><%= link_to 'New Request', new_order_request_path %></li>
        </ul>
      </div>
    </div>
  </ul>
</li>

