  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top yamm" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="<%= root_path %>" class="navbar-brand">
          <b>SmartKhata</b>
        </a>
      </div>

      <!-- Navbar Right Menu -->
      <div class="">
        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    </div>
  </nav>
