<h1>Editing Voucher</h1>

<%= render 'form',
           voucher: @voucher,
           voucher_type: @voucher_type,
           client_account_id: @client_account_id,
           bill_id: @bill_id,
           is_purchase_sales: @is_purchase_sales,
           ledger_list: @ledger_list
%>

<%= link_to 'Show', @voucher %> |
<%= link_to 'Back', vouchers_path %>
